@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-color: black !important;
  height: 100vh;
  width: 100%;
  background-attachment: fixed; }

* {
  font-family: "ROBOTO", sans-serif; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-top: 20px !important; }
  nav button {
    background: none;
    outline: none;
    background-color: #e50914;
    border: none;
    color: #fff;
    margin-left: 10px; }
  nav .logo {
    margin-top: -15px;
    margin-left: 15px;
    width: 120px !important;
    height: 120px !important; }
  nav .menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin-top: 35px; }
    nav .menu li {
      margin-top: 12px; }
    nav .menu li a {
      font-weight: bold;
      position: relative;
      margin-left: 30px;
      padding: 10px 24px;
      font-size: 0.8rem;
      text-transform: uppercase;
      list-style: none;
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      font-size: 13px; }
      nav .menu li a::before {
        content: "";
        position: absolute;
        border-width: 0 2px;
        border-color: #e50914;
        border-style: solid;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: scale(0, 0);
        transition: transform 0.2s; }
      nav .menu li a:hover {
        text-decoration: none;
        color: #e50914; }
      nav .menu li a:hover:before {
        transform: scale(1, 1); }
    nav .menu .search {
      width: 250px;
      height: 40px;
      background-color: rgba(245, 245, 245, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 0px 20px;
      margin-left: 30px; }
      nav .menu .search .input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        background: transparent; }
        nav .menu .search .input i {
          color: #e50914; }

.carousel {
  margin-top: 80px; }

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px; }

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px; }

/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -12px; }

/* Next button  */
#quote-carousel .carousel-control.right {
  right: -12px !important; }

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0; }

#quote-carousel .carousel-indicators .active {
  background: #333333; }

#quote-carousel img {
  width: 250px;
  height: 100px; }

/* End carousel */
.item blockquote {
  border-left: none;
  margin: 0; }

.item blockquote img {
  margin-bottom: 10px; }

.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: left;
  margin-right: 10px; }

.messanger {
  position: relative;
  z-index: 1000; }
  .messanger .cercle {
    position: fixed;
    bottom: 21px;
    right: 40px;
    width: 35px;
    height: 35px; }
    .messanger .cercle .fab {
      cursor: pointer;
      background-color: #e50914;
      padding: 6px;
      border-radius: 50%;
      margin: auto; }
  .messanger .chat_box {
    height: 380px;
    width: 280px;
    background-color: aliceblue;
    position: fixed;
    right: 87px;
    bottom: 21px; }
    .messanger .chat_box .chat-btn {
      background-color: #e50914;
      height: 40px;
      position: relative; }
      .messanger .chat_box .chat-btn span {
        color: white;
        margin-left: 10px;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 5px; }
      .messanger .chat_box .chat-btn i {
        float: right;
        margin-left: 20px;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer; }
  .messanger .descussion {
    height: 270px;
    margin-top: 15px;
    overflow: auto; }
    .messanger .descussion .perso1 {
      display: flex;
      margin-left: 5px; }
      .messanger .descussion .perso1 .img-1 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 13px; }
      .messanger .descussion .perso1 img {
        width: 35px;
        height: 35px;
        border-radius: 50%; }
      .messanger .descussion .perso1 p {
        margin-left: 15px;
        width: 70%;
        background-color: #eeeeee;
        padding: 5px;
        border-radius: 10px; }
    .messanger .descussion .perso2 {
      display: flex;
      justify-content: flex-end;
      margin-right: 5px; }
      .messanger .descussion .perso2 .img-2 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 13px; }
      .messanger .descussion .perso2 img {
        width: 35px;
        height: 35px;
        border-radius: 50%; }
      .messanger .descussion .perso2 p {
        margin-right: 15px;
        width: 70%;
        background-color: #e50914;
        padding: 5px;
        border-radius: 10px;
        color: white; }
  .messanger .form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
    .messanger .form-wrapper button {
      background: none;
      color: #e50914;
      outline: none;
      border: none;
      margin-left: 10px; }
    .messanger .form-wrapper .form-chat {
      border: none;
      border: #070707 solid 1px;
      outline: none;
      border-radius: 20px;
      margin-top: 10px; }

.messanger {
  position: relative;
  z-index: 1000; }
  .messanger .cercle {
    position: fixed;
    bottom: 21px;
    right: 40px;
    width: 35px;
    height: 35px; }
    .messanger .cercle .fab {
      cursor: pointer;
      background-color: #e50914;
      padding: 6px;
      border-radius: 50%;
      margin: auto; }
  .messanger .chat_box {
    height: 380px;
    width: 280px;
    background-color: aliceblue;
    position: fixed;
    right: 87px;
    bottom: 21px; }
    .messanger .chat_box .chat-btn {
      background-color: #e50914;
      height: 40px;
      position: relative; }
      .messanger .chat_box .chat-btn span {
        color: white;
        margin-left: 10px;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 5px; }
      .messanger .chat_box .chat-btn i {
        float: right;
        margin-left: 20px;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer; }
  .messanger .descussion {
    height: 270px;
    margin-top: 15px;
    overflow: auto; }
    .messanger .descussion .perso1 {
      display: flex;
      margin-left: 5px; }
      .messanger .descussion .perso1 .img-1 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 13px; }
      .messanger .descussion .perso1 img {
        width: 35px;
        height: 35px;
        border-radius: 50%; }
      .messanger .descussion .perso1 p {
        margin-left: 15px;
        width: 70%;
        background-color: #eeeeee;
        padding: 5px;
        border-radius: 10px; }
    .messanger .descussion .perso2 {
      display: flex;
      justify-content: flex-end;
      margin-right: 5px; }
      .messanger .descussion .perso2 .img-2 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 13px; }
      .messanger .descussion .perso2 img {
        width: 35px;
        height: 35px;
        border-radius: 50%; }
      .messanger .descussion .perso2 p {
        margin-right: 15px;
        width: 70%;
        background-color: #e50914;
        padding: 5px;
        border-radius: 10px;
        color: white; }
  .messanger .form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
    .messanger .form-wrapper button {
      background: none;
      color: #e50914;
      outline: none;
      border: none;
      margin-left: 10px; }
    .messanger .form-wrapper .form-chat {
      border: none;
      border: #070707 solid 1px;
      outline: none;
      border-radius: 20px;
      margin-top: 10px; }

.image-wrapper {
  position: relative; }
  .image-wrapper img {
    width: 100%;
    height: 85vh;
    margin-top: 50px;
    position: relative;
    filter: blur(5px);
    transition: 0.3s ease-in-out; }
    .image-wrapper img:hover {
      filter: blur(0); }
  .image-wrapper .cercle-play {
    position: absolute;
    left: 50%;
    bottom: 35%; }
    .image-wrapper .cercle-play i {
      padding: 15px;
      background-color: #535252;
      cursor: pointer;
      color: #fff;
      /* width: 30px; */
      border-radius: 50%;
      border: #fff 4px solid; }
      .image-wrapper .cercle-play i:hover {
        background-color: #e50914; }

.slide-warapper {
  width: 100%;
  margin-top: 40px; }
  .slide-warapper .num {
    color: white;
    width: 50px;
    overflow: hidden;
    position: relative;
    height: 50px; }
    .slide-warapper .num .text {
      font-size: 40px;
      position: absolute; }
  .slide-warapper .carou-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative; }
  .slide-warapper .owl-carousel {
    width: 60%;
    position: none;
    position: static !important; }
    .slide-warapper .owl-carousel .owl-prev span {
      font-size: 60px !important;
      color: #fff !important;
      position: absolute;
      left: 15% !important;
      bottom: 50%; }
    .slide-warapper .owl-carousel .owl-next span {
      font-size: 60px !important;
      background: none !important;
      color: #fff !important;
      position: absolute;
      right: 15% !important;
      bottom: 50%; }

.discription-wrapper {
  margin-top: 50px !important; }
  .discription-wrapper p {
    line-height: 1.8em; }
  .discription-wrapper .info-wrapper {
    margin-top: 12px; }
  .discription-wrapper .titre-wrapper {
    margin-top: 30px; }
    .discription-wrapper .titre-wrapper h4 {
      margin-top: 15px; }
    .discription-wrapper .titre-wrapper i {
      color: #b3b318;
      margin-left: 5px; }
  .discription-wrapper h2 {
    color: #e50914; }
  .discription-wrapper h4 {
    color: #e50914; }
    .discription-wrapper h4 span {
      color: #fff; }
  .discription-wrapper p {
    color: #fff; }
  .discription-wrapper .image-film {
    display: flex;
    justify-content: center; }
    .discription-wrapper .image-film img {
      max-width: 70%;
      height: 350 !important; }

.carousel h2,
.carousel li,
.carousel p,
.carousel span {
  color: #fff; }

.commentaire {
  margin-top: 80px; }
  .commentaire .box {
    margin: auto;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 9px #ff61241f;
    padding: 25px;
    padding-bottom: 50px; }
    .commentaire .box .img {
      float: left;
      border-radius: 50%; }
    .commentaire .box span {
      font-weight: bolder;
      font-style: italic;
      margin-left: 20px; }
    .commentaire .box .formcomm {
      margin-top: 20px;
      width: 100%;
      border: none;
      background-color: none;
      border-bottom: 1px solid #707070;
      outline: none; }
    .commentaire .box button {
      float: right;
      background-color: none;
      border: none;
      outline: none;
      color: white;
      background-color: #e50914;
      border-radius: 20px;
      padding-left: 19px;
      padding-right: 19px;
      padding-top: 8px;
      padding-bottom: 8px; }

.carousel {
  margin-top: 80px; }

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px; }

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px; }

/*# sourceMappingURL=watch.css.map */
