@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-color: black !important;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

* {
  font-family: "ROBOTO", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-top: 20px !important;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu li {
  margin-top: 12px;
}

nav .menu li a {
  font-weight: bold;
  position: relative;
  margin-left: 30px;
  padding: 10px 24px;
  font-size: 0.8rem;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
}

nav .menu li a::before {
  content: "";
  position: absolute;
  border-width: 0 2px;
  border-color: #e50914;
  border-style: solid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav .menu li a:hover {
  text-decoration: none;
  color: #e50914;
}

nav .menu li a:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

nav .menu .search {
  width: 250px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
  margin-left: 30px;
}

nav .menu .search .input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
}

nav .menu .search .input i {
  color: #e50914;
}

.carousel {
  margin-top: 80px;
}

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -12px;
}

/* Next button  */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
  background: #333333;
}

#quote-carousel img {
  width: 250px;
  height: 100px;
}

/* End carousel */
.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: left;
  margin-right: 10px;
}

.slide-warapper img {
  max-width: 250px;
  height: 300px;
}

body {
  background-image: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.datais-wrapper {
  margin-top: 90px !important;
}

.datais-wrapper .discription h2 {
  color: #e50914;
}

.datais-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.datais-wrapper .content .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #2af32a;
  width: 60%;
  margin-top: 20px;
}

.datais-wrapper .content .rating i {
  margin-left: 2x;
}

.datais-wrapper .discription p {
  width: 70%;
  color: #fff;
}

.datais-wrapper .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datais-wrapper .discription .btn1 {
  width: 30%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  background-color: #e50914;
  border-radius: 30px;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.datais-wrapper .discription .btn1 {
  width: 30%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  background-color: #e50914;
  border-radius: 30px;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.datais-wrapper .discription .btn2 {
  width: 30%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  background: none;
  border: solid 2px #fff !important;
  border-radius: 30px;
  margin-left: 10px;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.datais-wrapper .image-film img {
  width: 200px;
  height: 280px;
}

.datais-wrapper .image-film {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-warapper h2 {
  color: #e50914 !important;
  margin-left: 20px;
}

.slide-warapper img {
  margin-top: 20px;
}
/*# sourceMappingURL=detais.css.map */